.header-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 8px;

    &__title,
    &__abstract {
        margin: 0;
        padding: 0;
        text-align: center;
    }

    &__title {
        margin-bottom: 45px;
        font-size: 20px;
        line-height: 24px;
        font-weight: 800;

        span {
            color: $orange;
        }
    }

    &__abstract {
        margin-bottom: 65px;
        font-family: 'OpenSans', 'Arial', sans-serif;
        color: $white--darken;
        font-size: 12px;
        line-height: 16px;
    }

    &__registration {
        padding: 11px 69px;
        color: $white;
        font-size: 12px;
        line-height: 14px;
        font-weight: 500;
        text-transform: uppercase;
        background-color: $orange;
        border-radius: 4px;
        border: 2px solid $orange;

        &:hover,
        &:focus {
            background-color: initial;
        }
    }

    &__down,
    &__stars {
        display: none;
    }
}

@media (min-width: $mobile-width--cross) {
    .header-bottom {
        &__title {
            font-size: 36px;
            line-height: 42px;
        }

        &__abstract {
            font-size: 14px;
            line-height: 18px;
        }
    }
}

@media (min-width: $tablet-width) {
    .header-bottom {
        padding: 0;
        display: grid;
        grid-template: repeat(4, auto) / 1fr 115px 345px 66px;
        grid-template-areas:    ". title title title"
                                ". . abstract ."
                                ". . registration ."
                                "down down down down";
        grid-row-gap: 40px;

        &__title {
            grid-area: title;
            margin: 0;
        }

        &__abstract {
            grid-area: abstract;
            margin: 0;
        }

        &__registration {
            grid-area: registration;
            margin: 0;
            width: fit-content;
        }

        &__down {
            grid-area: down;
            display: block;
            background-image: url('../img/icon-down.svg');
            width: 24px;
            height: 39px;
            margin: 92px auto 0;
        }

        &__down-text {
            display: none;
        }

        &__title,
        &__abstract {
            text-align: left;
        }
    }
}

@media (min-width: $desktop-width) {
    .header-bottom {
        grid-template: repeat(3, auto) 1fr auto / 1fr 218px 378px 29px;
        grid-template-areas:    ". title title title"
                                ". stars abstract ."
                                ". . registration ."
                                ". . . ."
                                "down down down down";
        grid-row-gap: 30px;

        &__down {
            position: relative;
            margin-top: 104px;
        }

        &__down-text {
            display: block;
            position: absolute;
            bottom: -41px;
            left: -52px;
            font-size: 12px;
            font-weight: 600;
            color: $white;
            text-transform: uppercase;
            white-space: nowrap;
        }

        &__stars {
            display: block;
            grid-area: stars;
            background-image: url('../img/stars.svg');
            width: 179px;
            height: 65px;
        }

        &__title {
            margin-top: 14px;
            font-size: 42px;
            line-height: 48px;
        }

        &__abstract {
            font-size: 16px;
            line-height: 20px;
        }

        &__registration {
            margin-top: 20px;
        }
    }
}