$black: #000000;
$black--alfa-50: rgba(0, 0, 0, 0.5);
$black--shadow: rgba(2, 2, 2, 0.2);

$gray: #808080; 
$gray--darken: #696969; 

$white: #ffffff;
$white--darken: #f1f1f1;

$orange: #fe8057;
$blue: #4e93e1;